*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* GENERAL */
header{
    padding: 10px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 500;
}
main{
    display: inline-block;
    margin-top: 80px;
}
p{
    margin-top: 10%;
}
.check, h3, h4, i{
    padding: 10px;
}
hr{
    color: lightgrey;
}
.c-blue{
    color: rgba(29,114,255,255);
}
/**/
/* HEADER E MENU */
.logo{
    vertical-align: middle;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}
header nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: black;
    vertical-align: middle;
}
.menu-left .logo{
    float: left;
}
.menu-right .b-inizia{
    float: right;
}
.text-right{
    text-align: right;
}
.menu-right{
    margin-top: -2%;
}
.b-inizia{
    margin-left: 5px;
    padding: 5px;
    color:white;
    background-color: rgba(0,97,255,255);
}
/* INTRO */
.intro{
    width: 80%;
    margin: auto;
}
.bg-azul{
    background-color: rgba(180,208,231,255);
}

.title{
    font-size: 55px;
}
.text-left{
    width: 28%;
    margin-top: 10px;
    float: left;
}

.test-free, .f-right, span{
    margin-top: 15px;
}
.cancel{
    display: block;
}
.arrow{
    font-size: 4em;
    font-weight: bold;
}
.collage{
    width: calc(80% - 27%);
}
.collage, .f-right{
    float: right;
}
.proposta{
    width: 120%;
    margin-top: 10px;
    margin-bottom: -15%;
    margin-left: -15%;
}
/* PIANO TARIFFARIO */
.row{
    width: 100%
}
.contain{
    width: 80%;
    margin: auto;
}
.column, .column-2{
    width: calc(80% / 3) ;
    display: inline-block;
    margin-top: 5%;
    padding: 25px;
}
.column{
    min-height: 1023px;
    border: 1px solid lightgray;
}

.c-p{
    margin: 0 40px;
    display: inline-block;
}
.opzioni-fatturazione{
    margin-top: 15%;
}
input{
    margin-top:3% ;
    margin-left: 1%;
}
.special{
    border-top: 1pz solid red;
}
.test{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
}
.option{
    margin: 0 30%;
    display: inline-block;  
}  
.l-grey{
    color: lightslategray;
    font-weight: bold;
    margin-left: 5px;
}
.hr-short{
    margin-top: 5%;
    margin-left: 1%;
    width: 30%;
    color: lightgrey;
}
.color-blue{
    text-decoration: none;
    color: rgba(29,114,255,255);
}
.entity-check{
    color: rgba(29,114,255,255);
    margin-left: 0;
}
.m-top{
    margin-top: 10%;
}
.m-top2{
    margin-top: 5%;
}
/* CERCA PARTNER */
.team{
    padding: 1.5%;
    margin-left: 50%;
}
.row-2{
    border: 1px solid lightgrey;
}
.row-2, .row-3, .row-4{
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.f-left{
    float: left;
}
.f-right{
    margin-right: 20px;
}
.partner{
    width: 45%;
}
.text{
    width: 35%;
    float: right;
}
.solution{
    margin:5% 10px ;
}
.b-white{
    padding: 10px 10px;
    background-color: white;
    margin-top: 5%;
}
/* OPZIONI */
.img-column{
    width: 15em;
    margin-bottom: 10%;
}
.width-short{
    width: 30%;
    margin-left: 15%;
}
/* SEZIONE IMMAGINI */
.row-5{
    width: 100%;
}
.colonna{
    width: 30vw;
    height: 30vw;
    float: left;
}
.colonna-2{
    width:14.9vw;
    height: 14.9vw;
    text-align: center;
}
.item, .item-2{
    text-align: center;
    line-height: 13.9vw;
}
.item{
    float: left;
}
.item-2{
    float: right;
}
.size-img{
    width: auto;
    max-width: 100%;
    padding: 30%;
    filter: invert(1);
}
.l-green{
    float: left;
    background-color: rgba(162,211,155,255);
    border:solid 10px rgba(208,233,205,255);
    line-height: 13.9vw;
}

.bg-bordeaux{
    float: left;
    background-color: rgba(97,8,43,255);
}
.bg-l-blue{
    float: left;
    background-color: rgba(0,147,206,255);
}
.bg-red{
    float: left;
    background-color: rgba(255,28,28,255);
}
.scroll{
    width: calc(100% - 60vw);
    margin: auto;
    float: left;
    height: 30vw;
    padding: 60px;
    overflow-y: auto;
    background-color: rgba(245,245,245,255);
}
.scroll-img{
    width: 40%;
  
}
.f-right2{
    float: right;
}
.bg-red2{
    float: right;
    background-color: rgba(213,0,31,255);
}
.bg-blue{
    float: right;
    background-color: rgba(13,36,129,255);
}
.bg-l-grey{
    float: right;
    background-color: rgba(180,208,231,255);
}
.bg-yellow{
    float: right;
    background-color: rgba(255,216,48,255);
}