*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
header{
    padding: 10px;
    width: 100%;
    background-color: white;
    position: fixed;
    /* display: inline-block; */
}
.logo{
    vertical-align: middle;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}
header nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: black;
    vertical-align: middle;
}
.menu-left .logo{
    float: left;
}
.menu-right .b-inizia{
    float: right;
}
.text-right{
    text-align: right;
}
.menu-right{
    margin-top: -2%;
}
.b-inizia{
    padding: 5px;
    color:white;
    background-color: rgba(0,97,255,255);
}
.intro{
    width: 80%;
    margin: auto;
    
}
.bg-azul{
    background-color: rgba(180,208,231,255);
}
h1{
    display: inline-block;
    margin-top: 80px;
}
.title{
    font-size: 55px;
}
.text-left{
    width: 28%;
    margin-top: 10px;
    float: left;
}
.test-free, span{
    margin-top: 15px;
}
span{
    display: block;
}
.arrow{
    font-size: 4em;
    font-weight: bold;
}
.collage{
    width: calc(80% - 27%);
    float: right;
}
.proposta{
    width: 120%;
    margin-top: 10px;
    margin-bottom: -15%;
    margin-left:-15% ;

}